## implement function to process csv and prepare for training

In [1]:
import pandas as pd 
import os

# create function to append all csv files together 
def concat_csv(file_path):
    '''function to concat all csv files into one
    return concatnated df 
    '''

    combined_df = pd.concat(
        [pd.read_csv(os.path.join(file_path, f)).assign(Tag=f)
         for f in os.listdir(file_path) if f.endswith('.csv')],
        ignore_index=True
    )

    return combined_df

#concatenated_df[['Ball-Powder Ratio', 'Jar', '20mm Run Time (Hours)', '10mm Run Time (Hours)','6mm Run Time (Hours)','Total Run Time (Hours)']] = None

,,Area,Mean,StdDev,Min,Max,X,Y,Perim.,BX,...,RawIntDen,Slice,FeretX,FeretY,FeretAngle,MinFeret,AR,Round,Solidity,Tag
0,1,2764,255,0,255,255,264.488,52.241,206.836,235,...,704820,1,251,24,119.859,58.690,1.046,0.956,0.969,P2002 Rev 1 Group 6.csv
1,2,2554,255,0,255,255,697.684,146.339,198.593,669,...,651270,1,690,175,74.320,57.000,1.018,0.982,0.968,P2002 Rev 1 Group 6.csv
2,3,4042,255,0,255,255,1174.881,202.358,252.534,1139,...,1030710,1,1143,222,34.743,71.834,1.030,0.971,0.972,P2002 Rev 1 Group 6.csv
3,4,3943,255,0,255,255,474.880,222.687,240.250,438,...,1005465,1,438,209,163.009,70.441,1.039,0.963,0.968,P2002 Rev 1 Group 6.csv
4,5,943,255,0,255,255,421.992,220.350,117.640,405,...,240465,1,409,208,138.240,32.000,1.100,0.909,0.963,P2002 Rev 1 Group 6.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71944,145,2067,255,0,255,255,204.502,875.316,179.823,180,...,527085,1,184,900,54.689,50.688,1.100,0.909,0.948,P2316.csv
71945,146,2107,255,0,255,255,508.282,880.446,178.551,482,...,537285,1,486,866,148.671,52.000,1.002,0.998,0.964,P2316.csv
71946,147,3072,255,0,255,255,882.481,887.256,228.794,849,...,783360,1,850,869,157.496,54.059,1.338,0.748,0.923,P2316.csv
71947,148,1294,255,0,255,255,27.978,879.234,136.125,7,...,329970,1,11,893,34.046,39.000,1.079,0.927,0.962,P2316.csv
71948,149,1459,255,0,255,255,311.336,896.560,149.924,288,...,372045,1,296,913,49.268,43.000,1.023,0.978,0.949,P2316.csv

In [4]:
particle_data  = concat_csv('/Users/sarah/Documents/areospace research/material recycling project/PyImageJ-Particle-Analysis/ALM Ortho Powders/ALM Ortho Powders CSV')
particle_data

,,Area,Mean,StdDev,Min,Max,X,Y,Perim.,BX,...,RawIntDen,Slice,FeretX,FeretY,FeretAngle,MinFeret,AR,Round,Solidity,Tag
0,1,2764,255,0,255,255,264.488,52.241,206.836,235,...,704820,1,251,24,119.859,58.690,1.046,0.956,0.969,P2002 Rev 1 Group 6.csv
1,2,2554,255,0,255,255,697.684,146.339,198.593,669,...,651270,1,690,175,74.320,57.000,1.018,0.982,0.968,P2002 Rev 1 Group 6.csv
2,3,4042,255,0,255,255,1174.881,202.358,252.534,1139,...,1030710,1,1143,222,34.743,71.834,1.030,0.971,0.972,P2002 Rev 1 Group 6.csv
3,4,3943,255,0,255,255,474.880,222.687,240.250,438,...,1005465,1,438,209,163.009,70.441,1.039,0.963,0.968,P2002 Rev 1 Group 6.csv
4,5,943,255,0,255,255,421.992,220.350,117.640,405,...,240465,1,409,208,138.240,32.000,1.100,0.909,0.963,P2002 Rev 1 Group 6.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71944,145,2067,255,0,255,255,204.502,875.316,179.823,180,...,527085,1,184,900,54.689,50.688,1.100,0.909,0.948,P2316.csv
71945,146,2107,255,0,255,255,508.282,880.446,178.551,482,...,537285,1,486,866,148.671,52.000,1.002,0.998,0.964,P2316.csv
71946,147,3072,255,0,255,255,882.481,887.256,228.794,849,...,783360,1,850,869,157.496,54.059,1.338,0.748,0.923,P2316.csv
71947,148,1294,255,0,255,255,27.978,879.234,136.125,7,...,329970,1,11,893,34.046,39.000,1.079,0.927,0.962,P2316.csv
71948,149,1459,255,0,255,255,311.336,896.560,149.924,288,...,372045,1,296,913,49.268,43.000,1.023,0.978,0.949,P2316.csv

In [5]:
particle_data['Lot'] = particle_data['Tag'].str.extract(r'([A-Z]\d+)')[0]
particle_data['Rev'] = particle_data['Tag'].str.extract(r'Rev (\d+)')[0]  
particle_data['GroupID'] = particle_data['Tag'].str.extract(r'Group (\d+)')[0]

In [6]:
particle_data

,,Area,Mean,StdDev,Min,Max,X,Y,Perim.,BX,...,FeretY,FeretAngle,MinFeret,AR,Round,Solidity,Tag,Lot,Rev,GroupID
0,1,2764,255,0,255,255,264.488,52.241,206.836,235,...,24,119.859,58.690,1.046,0.956,0.969,P2002 Rev 1 Group 6.csv,P2002,1,6
1,2,2554,255,0,255,255,697.684,146.339,198.593,669,...,175,74.320,57.000,1.018,0.982,0.968,P2002 Rev 1 Group 6.csv,P2002,1,6
2,3,4042,255,0,255,255,1174.881,202.358,252.534,1139,...,222,34.743,71.834,1.030,0.971,0.972,P2002 Rev 1 Group 6.csv,P2002,1,6
3,4,3943,255,0,255,255,474.880,222.687,240.250,438,...,209,163.009,70.441,1.039,0.963,0.968,P2002 Rev 1 Group 6.csv,P2002,1,6
4,5,943,255,0,255,255,421.992,220.350,117.640,405,...,208,138.240,32.000,1.100,0.909,0.963,P2002 Rev 1 Group 6.csv,P2002,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71944,145,2067,255,0,255,255,204.502,875.316,179.823,180,...,900,54.689,50.688,1.100,0.909,0.948,P2316.csv,P2316,NaN,NaN
71945,146,2107,255,0,255,255,508.282,880.446,178.551,482,...,866,148.671,52.000,1.002,0.998,0.964,P2316.csv,P2316,NaN,NaN
71946,147,3072,255,0,255,255,882.481,887.256,228.794,849,...,869,157.496,54.059,1.338,0.748,0.923,P2316.csv,P2316,NaN,NaN
71947,148,1294,255,0,255,255,27.978,879.234,136.125,7,...,893,34.046,39.000,1.079,0.927,0.962,P2316.csv,P2316,NaN,NaN
71948,149,1459,255,0,255,255,311.336,896.560,149.924,288,...,913,49.268,43.000,1.023,0.978,0.949,P2316.csv,P2316,NaN,NaN

In [11]:
elemental_data = pd.read_csv('/Users/sarah/Documents/areospace research/material recycling project/Ti64_Composition_Tools/Ti_Powder_All_Lots/Powder Results Summary/Merged_Element_Composition_Tables.csv')
elemental_data

,Lot,GroupID,Rev,Aluminum (wt%),Carbon (wt%),Chromium (wt%),Hydrogen (wt%),Iron (wt%),Nickel (wt%),Nitrogen (wt%),Oxygen (wt%),Silicon (wt%),Titanium (wt%),Vanadium (wt%),Yttrium (wt%)
0,P1442,2,5,6.41,0.007,0.012,0.0018,0.19,0.010,0.010,0.158,0.010,89.2607,3.95,0.0005
1,P1442,3,3,6.51,0.010,0.014,0.0015,0.20,0.011,0.008,0.148,0.014,89.1380,3.97,0.0005
2,P1442,4,3,6.44,0.010,0.015,0.0017,0.24,0.011,0.005,0.142,0.013,89.2158,3.93,0.0005
3,P1442,5,1,6.50,0.011,0.013,0.0013,0.17,0.010,0.011,0.149,0.013,89.1142,4.03,0.0005
4,P1442,6,1,6.48,0.008,0.013,0.0012,0.19,0.010,0.014,0.162,0.013,89.0613,4.07,0.0005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,P1440,5,2,6.45,0.009,0.013,0.0011,0.20,0.011,0.019,0.158,0.013,89.2294,3.92,0.0005
138,P1440,3,5,6.37,0.007,0.011,0.0020,0.19,0.010,0.005,0.174,0.011,89.3505,3.89,0.0005
139,P1440,3,4,6.42,0.008,0.013,0.0019,3.91,0.010,0.012,0.188,0.010,89.2666,0.18,0.0005
140,P1440,5,3,6.36,0.008,0.013,0.0013,0.17,0.010,0.011,0.169,0.010,89.3272,3.94,0.0005
141,P1440,4,5,6.41,0.006,0.000,0.0014,4.00,0.000,0.013,0.181,0.012,89.1986,0.19,0.0005

In [12]:
particle_data['Lot'] = particle_data['Lot'].astype(str)
particle_data['GroupID'] = particle_data['GroupID'].astype(str)
particle_data['Rev'] = particle_data['Rev'].astype(str)

elemental_data['Lot'] = elemental_data['Lot'].astype(str)
elemental_data['GroupID'] = elemental_data['GroupID'].astype(str)
elemental_data['Rev'] = elemental_data['Rev'].astype(str)

In [14]:
merged_df = pd.merge(particle_data, elemental_data, on=['Lot', 'GroupID', 'Rev'], how='inner')
merged_df.to_csv('/Users/sarah/Documents/areospace research/material recycling project/PyImageJ-Particle-Analysis/ALM Ortho Powders/ALM_Ortho_Lots_and_elementdata.csv')
merged_df

,,Area,Mean,StdDev,Min,Max,X,Y,Perim.,BX,...,Chromium (wt%),Hydrogen (wt%),Iron (wt%),Nickel (wt%),Nitrogen (wt%),Oxygen (wt%),Silicon (wt%),Titanium (wt%),Vanadium (wt%),Yttrium (wt%)
0,1,2764,255,0,255,255,264.488,52.241,206.836,235,...,0.012,0.0014,0.20,0.011,0.015,0.153,0.011,89.2121,3.97,0.0005
1,2,2554,255,0,255,255,697.684,146.339,198.593,669,...,0.012,0.0014,0.20,0.011,0.015,0.153,0.011,89.2121,3.97,0.0005
2,3,4042,255,0,255,255,1174.881,202.358,252.534,1139,...,0.012,0.0014,0.20,0.011,0.015,0.153,0.011,89.2121,3.97,0.0005
3,4,3943,255,0,255,255,474.880,222.687,240.250,438,...,0.012,0.0014,0.20,0.011,0.015,0.153,0.011,89.2121,3.97,0.0005
4,5,943,255,0,255,255,421.992,220.350,117.640,405,...,0.012,0.0014,0.20,0.011,0.015,0.153,0.011,89.2121,3.97,0.0005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63365,37,3174,255,0,255,255,1138.168,822.792,224.635,1106,...,0.014,0.0016,0.19,0.011,0.007,0.136,0.012,89.1459,4.05,0.0005
63366,38,3352,255,0,255,255,1044.124,849.413,230.392,1012,...,0.014,0.0016,0.19,0.011,0.007,0.136,0.012,89.1459,4.05,0.0005
63367,39,2056,255,0,255,255,624.677,861.357,179.380,599,...,0.014,0.0016,0.19,0.011,0.007,0.136,0.012,89.1459,4.05,0.0005
63368,40,3444,255,0,255,255,554.185,870.825,227.321,521,...,0.014,0.0016,0.19,0.011,0.007,0.136,0.012,89.1459,4.05,0.0005
63369,41,2731,255,0,255,255,338.108,871.913,203.421,309,...,0.014,0.0016,0.19,0.011,0.007,0.136,0.012,89.1459,4.05,0.0005

In [33]:
def update_features(concatenated_df, file_name, tag, bwratio, twenty_mm, ten_mm, six_mm, total, jar=None):
    '''update values in df to include feature values and update tag names'''
    concatenated_df['Tag'] = concatenated_df['Tag'].replace(file_name, tag)
    
    concatenated_df.loc[concatenated_df['Tag'] == tag, 'Ball-Powder Ratio'] = bwratio
    concatenated_df.loc[concatenated_df['Tag'] == tag, 'Jar'] = jar
    concatenated_df.loc[concatenated_df['Tag'] == tag, '20mm Run Time (Hours)'] = twenty_mm
    concatenated_df.loc[concatenated_df['Tag'] == tag, '10mm Run Time (Hours)'] = ten_mm
    concatenated_df.loc[concatenated_df['Tag'] == tag, '6mm Run Time (Hours)'] = six_mm
    concatenated_df.loc[concatenated_df['Tag'] == tag, 'Total Run Time (Hours)'] = total

    return concatenated_df

In [34]:
concatenated_df = update_features(concatenated_df, file_name='Sample A.csv', tag='C1-20', bwratio='7:5:1', twenty_mm=20.0,ten_mm=0.0,six_mm=0.0, total=20.0, jar=1)
concatenated_df = update_features(concatenated_df, file_name='Sample B.csv', tag='C2-20', bwratio='7:5:1', twenty_mm=20.0,ten_mm=0.0,six_mm=0.0, total=20.0, jar=2)
concatenated_df = update_features(concatenated_df, file_name='Sample C.csv', tag='A6', bwratio='15:1', twenty_mm=32.0,ten_mm=16.0,six_mm=0.0, total=48.0)
concatenated_df = update_features(concatenated_df, file_name='Sample D.csv', tag='A5', bwratio='15:1', twenty_mm=32.0,ten_mm=8.0,six_mm=0.0, total=40.0)
concatenated_df = update_features(concatenated_df, file_name='Sample E.csv', tag='A4', bwratio='15:1', twenty_mm=32.0,ten_mm=0.0,six_mm=0.0, total=32.0)
concatenated_df = update_features(concatenated_df, file_name='Sample F.csv', tag='A3', bwratio='15:1', twenty_mm=23.7,ten_mm=0.0,six_mm=0.0, total=23.7)
concatenated_df = update_features(concatenated_df, file_name='Sample G.csv', tag='E1-10', bwratio='7:5:1', twenty_mm=20.0,ten_mm=16.7,six_mm=0.0, total=36.7, jar=1)
concatenated_df = update_features(concatenated_df, file_name='Sample G1-6.csv', tag='G1-6', bwratio='7:5:1', twenty_mm=20.0,ten_mm=25.0,six_mm=8.3, total=53.3, jar=1)
concatenated_df = update_features(concatenated_df, file_name='Sample G2-6.csv', tag='G2-6', bwratio='7:5:1', twenty_mm=20.0,ten_mm=25.0,six_mm=8.3, total=53.3, jar=2)
concatenated_df = update_features(concatenated_df, file_name='Sample H.csv', tag='E2-10', bwratio='7:5:1', twenty_mm=20.0,ten_mm=16.7,six_mm=0.0, total=36.7, jar=2)
concatenated_df = update_features(concatenated_df, file_name='Sample H1.csv', tag='H1-6', bwratio='7:5:1', twenty_mm=20.0,ten_mm=25.0,six_mm=16.7, total=61.7, jar=1)
concatenated_df = update_features(concatenated_df, file_name='Sample H2.csv', tag='H2-6', bwratio='7:5:1', twenty_mm=20.0,ten_mm=25.0,six_mm=16.7, total=61.7, jar=2)
concatenated_df = update_features(concatenated_df, file_name='Sample I.csv', tag='D1-10', bwratio='7:5:1', twenty_mm=20.0,ten_mm=8.3,six_mm=0, total=28.3, jar=1)
concatenated_df = update_features(concatenated_df, file_name='Sample 3 k2-6.csv', tag='K2-6', bwratio='7:5:1', twenty_mm=20.0,ten_mm=0.0,six_mm=16.7, total=36.7, jar=2)
concatenated_df = update_features(concatenated_df, file_name='Sample 3-M1-6.csv', tag='M1-6', bwratio='7:5:1', twenty_mm=20.0,ten_mm=0.0,six_mm=41.7, total=61.7, jar=1)
concatenated_df = update_features(concatenated_df, file_name='Sample 3-M2-6.csv', tag='M2-6', bwratio='7:5:1', twenty_mm=20.0,ten_mm=0.0,six_mm=41.7, total=61.7, jar=2)
concatenated_df = update_features(concatenated_df, file_name='Sample F1-10.csv', tag='F1-10', bwratio='7:5:1', twenty_mm=20.0,ten_mm=25.0,six_mm=0.0, total=45.0, jar=1)
concatenated_df = update_features(concatenated_df, file_name='Sample F2-10.csv', tag='F2-10', bwratio='7:5:1', twenty_mm=20.0,ten_mm=25.0,six_mm=0.0, total=45.0, jar=2)
concatenated_df = update_features(concatenated_df, file_name='Sample J1-20.csv', tag='J1-20', bwratio='7:5:1', twenty_mm=20.0,ten_mm=0.0,six_mm=0.0, total=20.0, jar=1)
concatenated_df = update_features(concatenated_df, file_name='Sample J2-20.csv', tag='J2-20', bwratio='7:5:1', twenty_mm=20.0,ten_mm=0.0,six_mm=0.0, total=20.0, jar=2)
concatenated_df

,,Area,Mean,StdDev,Min,Max,X,Y,Perim.,BX,...,AR,Round,Solidity,Tag,Ball-Powder Ratio,Jar,20mm Run Time (Hours),10mm Run Time (Hours),6mm Run Time (Hours),Total Run Time (Hours)
0,1,8664,255,0,255,255,666.151,84.302,388.902,608,...,1.102,0.908,0.947,A5,15:1,None,32.0,8.0,0.0,40.0
1,2,2292,255,0,255,255,1148.411,62.168,205.321,1121,...,1.098,0.911,0.926,A5,15:1,None,32.0,8.0,0.0,40.0
2,3,2510,255,0,255,255,436.136,208.367,211.463,399,...,1.385,0.722,0.943,A5,15:1,None,32.0,8.0,0.0,40.0
3,4,49,255,0,255,255,959.990,555.173,38.284,954,...,3.234,0.309,0.636,A5,15:1,None,32.0,8.0,0.0,40.0
4,5,45,255,0,255,255,966.700,561.144,36.284,961,...,3.864,0.259,0.726,A5,15:1,None,32.0,8.0,0.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94477,25,1385,255,0,255,255,987.413,737.613,163.622,960,...,1.566,0.639,0.907,D1-10,7:5:1,1,20.0,8.3,0,28.3
94478,26,1510,255,0,255,255,1142.322,751.670,158.995,1122,...,1.398,0.715,0.948,D1-10,7:5:1,1,20.0,8.3,0,28.3
94479,27,2723,255,0,255,255,706.833,785.684,224.635,675,...,1.161,0.862,0.936,D1-10,7:5:1,1,20.0,8.3,0,28.3
94480,28,1177,255,0,255,255,867.462,786.458,148.066,843,...,1.604,0.624,0.909,D1-10,7:5:1,1,20.0,8.3,0,28.3
94481,29,1755,255,0,255,255,1101.380,810.450,183.279,1069,...,1.719,0.582,0.937,D1-10,7:5:1,1,20.0,8.3,0,28.3

In [35]:
#concatenated_df = concatenated_df.drop(columns=['Area', 'Mean', 'Perim.','BX','BY','Width','Height','Major','Minor','Angle','IntDen','RawIntDen','FeretX','FeretY','FeretAngle','MinFeret','Solidity','Skew','Slice','Kurt','Median','%Area','StdDev','Min','Max','X','Y'])

In [36]:
concatenated_df = concatenated_df.drop(concatenated_df.columns[0],axis=1)
concatenated_df = concatenated_df[['Tag', 'Ball-Powder Ratio', 'Jar', '20mm Run Time (Hours)', '10mm Run Time (Hours)','6mm Run Time (Hours)','Total Run Time (Hours)', 'Circ.', 'Feret', 'AR', 'Round','Area', 'Mean', 'Perim.','BX','BY','Width','Height','Major','Minor','Angle','IntDen','RawIntDen','FeretX','FeretY','FeretAngle','MinFeret','Solidity','Skew','Slice','Kurt','Median','%Area','StdDev','Min','Max','X','Y']]
concatenated_df

,Tag,Ball-Powder Ratio,Jar,20mm Run Time (Hours),10mm Run Time (Hours),6mm Run Time (Hours),Total Run Time (Hours),Circ.,Feret,AR,...,Skew,Slice,Kurt,Median,%Area,StdDev,Min,Max,X,Y
0,A5,15:1,None,32.0,8.0,0.0,40.0,0.720,123.130,1.102,...,NaN,1,NaN,255,100,0,255,255,666.151,84.302
1,A5,15:1,None,32.0,8.0,0.0,40.0,0.683,61.400,1.098,...,NaN,1,NaN,255,100,0,255,255,1148.411,62.168
2,A5,15:1,None,32.0,8.0,0.0,40.0,0.705,76.531,1.385,...,NaN,1,NaN,255,100,0,255,255,436.136,208.367
3,A5,15:1,None,32.0,8.0,0.0,40.0,0.420,16.401,3.234,...,NaN,1,NaN,255,100,0,255,255,959.990,555.173
4,A5,15:1,None,32.0,8.0,0.0,40.0,0.430,16.279,3.864,...,NaN,1,NaN,255,100,0,255,255,966.700,561.144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94477,D1-10,7:5:1,1,20.0,8.3,0,28.3,0.650,56.719,1.566,...,NaN,1,NaN,255,100,0,255,255,987.413,737.613
94478,D1-10,7:5:1,1,20.0,8.3,0,28.3,0.751,54.708,1.398,...,NaN,1,NaN,255,100,0,255,255,1142.322,751.670
94479,D1-10,7:5:1,1,20.0,8.3,0,28.3,0.678,66.400,1.161,...,NaN,1,NaN,255,100,0,255,255,706.833,785.684
94480,D1-10,7:5:1,1,20.0,8.3,0,28.3,0.675,51.313,1.604,...,NaN,1,NaN,255,100,0,255,255,867.462,786.458
94481,D1-10,7:5:1,1,20.0,8.3,0,28.3,0.657,65.734,1.719,...,NaN,1,NaN,255,100,0,255,255,1101.380,810.450

In [37]:
concatenated_df.to_csv('/Users/sarah/Documents/areospace research/material recycling project/PyImageJ-Particle-Analysis/Ball Milling Powder Samples/training ballmilling data.csv', index=False)